<a href="https://colab.research.google.com/github/IEwaspbusters/KopuruVespaCompetitionIE/blob/main/Competition_subs/2021-04-28_submit/batch_LARVAE/HEX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Base packages -----------------------------------
import pandas as pd
import numpy as np

# Linear Regression -------------------------------
from statsmodels.formula.api import ols

# SKLearn -----------------------------------------
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold, GridSearchCV, cross_val_score

# Naive Bayes -------------------------------------
from sklearn.naive_bayes import GaussianNB

# GitHub ------------------------------------------
import requests
import io

# Working environment -----------------------------
import os

In [2]:
# Downloading the datasets from GitHub and turning it into a pandas dataframe
WBds03 = 'WBds03_all_the_queens_wasps.csv'
QUEEN = pd.read_csv(WBds03, sep=",")

In [3]:
QUEEN.dtypes

year_x                    int64
municip_name             object
species                  object
municip_code            float64
month                     int64
year_offset               int64
waspbust_id               int64
colonies_amount         float64
food_fruit              float64
food_apple              float64
food_txakoli            float64
food_kiwi               float64
food_pear               float64
food_blueberry          float64
food_raspberry          float64
station_code             object
index                   float64
MMM                      object
year_y                  float64
station_name             object
code_merge               object
merge_cod                object
weath_days_frost        float64
weath_humidity          float64
weath_maxLevel          float64
weath_midLevel          float64
weath_minLevel          float64
weath_days_rain         float64
weath_days_rain1mm      float64
weath_accuRainfall      float64
weath_10minRainfall     float64
weath_1dayRainfall      float64
weath_solar             float64
weath_meanTemp          float64
weath_maxTemp           float64
weath_maxMeanTemp       float64
weath_minTemp           float64
weath_meanWindM         float64
weath_maxWindM          float64
weath_meanDayMaxWind    float64
dtype: object

In [4]:
# making the dataframe model-ready:


QUEEN['municip_name'] = QUEEN.municip_name.astype('category')
QUEEN['municip_code'] = QUEEN.municip_code.astype(int) 
QUEEN['species'] = QUEEN.species.astype('category')

QUEEN['station_code'] = QUEEN.station_code.astype('category')
QUEEN['MMM'] = QUEEN.MMM.astype('category')

QUEEN.dtypes

year_x                     int64
municip_name            category
species                 category
municip_code               int64
month                      int64
year_offset                int64
waspbust_id                int64
colonies_amount          float64
food_fruit               float64
food_apple               float64
food_txakoli             float64
food_kiwi                float64
food_pear                float64
food_blueberry           float64
food_raspberry           float64
station_code            category
index                    float64
MMM                     category
year_y                   float64
station_name              object
code_merge                object
merge_cod                 object
weath_days_frost         float64
weath_humidity           float64
weath_maxLevel           float64
weath_midLevel           float64
weath_minLevel           float64
weath_days_rain          float64
weath_days_rain1mm       float64
weath_accuRainfall       float64
weath_10minRainfall      float64
weath_1dayRainfall       float64
weath_solar              float64
weath_meanTemp           float64
weath_maxTemp            float64
weath_maxMeanTemp        float64
weath_minTemp            float64
weath_meanWindM          float64
weath_maxWindM           float64
weath_meanDayMaxWind     float64
dtype: object

In [5]:
QUEEN.head()

,year_x,municip_name,species,municip_code,month,year_offset,waspbust_id,colonies_amount,food_fruit,food_apple,...,weath_10minRainfall,weath_1dayRainfall,weath_solar,weath_meanTemp,weath_maxTemp,weath_maxMeanTemp,weath_minTemp,weath_meanWindM,weath_maxWindM,weath_meanDayMaxWind
0,2018,Abadiño,Vespa Velutina,48001,1,2017,1,160.0,0.0,0.0,...,2.0,76.0,5.7,2.1,12.7,5.7,-0.8,14.6,81.0,43.8
1,2018,Abadiño,Vespa Velutina,48001,2,2017,4,160.0,0.0,0.0,...,1.8,22.6,7.9,5.9,16.2,10.3,2.1,14.1,98.6,49.6
2,2018,Abadiño,Vespa Velutina,48001,3,2017,1,160.0,0.0,0.0,...,1.4,23.0,12.2,7.4,23.1,12.3,3.4,11.6,77.8,41.6
3,2018,Abadiño,Vespa Velutina,48001,5,2017,3,160.0,0.0,0.0,...,4.3,38.0,20.0,13.2,30.3,18.8,7.7,8.4,95.8,35.6
4,2018,Abadiño,Vespa Velutina,48001,6,2017,1,160.0,0.0,0.0,...,6.4,19.8,15.7,15.1,31.4,20.0,11.2,6.5,51.8,28.7

In [6]:
QUEEN.loc[QUEEN.weath_meanTemp.isnull(),:]

,year_x,municip_name,species,municip_code,month,year_offset,waspbust_id,colonies_amount,food_fruit,food_apple,...,weath_10minRainfall,weath_1dayRainfall,weath_solar,weath_meanTemp,weath_maxTemp,weath_maxMeanTemp,weath_minTemp,weath_meanWindM,weath_maxWindM,weath_meanDayMaxWind
873,2018,Zaratamo,Vespa Velutina,48097,1,2017,1,0.0,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
874,2018,Zaratamo,Vespa Velutina,48097,2,2017,2,0.0,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
875,2018,Zaratamo,Vespa Velutina,48097,6,2017,1,0.0,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
876,2018,Zaratamo,Vespa Velutina,48097,7,2017,6,0.0,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
877,2018,Zaratamo,Vespa Velutina,48097,8,2017,10,0.0,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
878,2018,Zaratamo,Vespa Velutina,48097,9,2017,5,0.0,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
879,2018,Zaratamo,Vespa Velutina,48097,10,2017,4,0.0,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
880,2018,Zaratamo,Vespa Velutina,48097,11,2017,1,0.0,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
881,2018,Zaratamo,Vespa Velutina,48097,12,2017,1,0.0,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1609,2019,Zaratamo,Vespa Velutina,48097,1,2018,1,0.0,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1610,2019,Zaratamo,Vespa Velutina,48097,5,2018,1,0.0,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1611,2019,Zaratamo,Vespa Velutina,48097,7,2018,1,0.0,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1612,2019,Zaratamo,Vespa Velutina,48097,8,2018,1,0.0,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1613,2019,Zaratamo,Vespa Velutina,48097,9,2018,3,0.0,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1614,2019,Zaratamo,Vespa Velutina,48097,10,2018,3,0.0,8.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
QUEEN.sort_values(by=['year_x','municip_code','month'], ascending=[1,1,1],inplace=True)

In [8]:
all_variables = ['waspbust_id','municip_code','year_x','MMM','colonies_amount', 'food_fruit', 'food_apple', 'food_txakoli','food_kiwi', 'food_pear', 'food_blueberry', 'food_raspberry','weath_days_frost', 'weath_humidity', 'weath_maxLevel','weath_midLevel', 'weath_minLevel', 'weath_days_rain','weath_days_rain1mm', 'weath_accuRainfall', 'weath_10minRainfall','weath_1dayRainfall', 'weath_solar', 'weath_meanTemp', 'weath_maxTemp','weath_maxMeanTemp', 'weath_minTemp', 'weath_meanWindM','weath_maxWindM', 'weath_meanDayMaxWind']
feature_variables = ['municip_code','year_x','MMM','colonies_amount', 'food_fruit', 'food_apple', 'food_txakoli','food_kiwi', 'food_pear', 'food_blueberry', 'food_raspberry','weath_days_frost', 'weath_humidity', 'weath_maxLevel','weath_midLevel', 'weath_minLevel', 'weath_days_rain','weath_days_rain1mm', 'weath_accuRainfall', 'weath_10minRainfall','weath_1dayRainfall', 'weath_solar', 'weath_meanTemp', 'weath_maxTemp','weath_maxMeanTemp', 'weath_minTemp', 'weath_meanWindM','weath_maxWindM', 'weath_meanDayMaxWind']

In [9]:
QUEEN.dropna(axis=0, how='any',inplace=True)

In [10]:
QUEEN_train = QUEEN.loc[QUEEN.year_x == 2018,['waspbust_id','weath_humidity','weath_meanTemp']] #add x variables
QUEEN_test_x_2019 = QUEEN.loc[QUEEN.year_x == 2019,['weath_humidity','weath_meanTemp']] #add same x variables as above
QUEEN_test_y_2019 = QUEEN.loc[QUEEN.year_x == 2019,['waspbust_id']] # leave as it is - this is in order to check (ourselves) the MSE

In [11]:
# Model time! (train the model)
model = ols('waspbust_id ~ weath_humidity + weath_meanTemp', data=QUEEN_train).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            waspbust_id   R-squared:                       0.072
Model:                            OLS   Adj. R-squared:                  0.070
Method:                 Least Squares   F-statistic:                     34.80
Date:                Wed, 02 Jun 2021   Prob (F-statistic):           2.79e-15
Time:                        08:21:11   Log-Likelihood:                -2674.4
No. Observations:                 901   AIC:                             5355.
Df Residuals:                     898   BIC:                             5369.
Df Model:                           2
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         -7.9857      2.351     -3.396      0.001     -12.600      -3.371
weath_humidity     0.1050      0.028      3.713      0.000       0.050       0.161
weath_meanTemp     0.2716      0.036      7.531      0.000       0.201       0.342
==============================================================================
Omnibus:                      600.785   Durbin-Watson:                   0.765
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7236.361
Skew:                           2.941   Prob(JB):                         0.00
Kurtosis:                      15.576   Cond. No.                     1.23e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.23e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [12]:
prediction_y_2019 = model.predict(QUEEN_test_x_2019)
prediction_y_2019

910     2.080448
911     3.116068
912     4.350258
913     5.465548
914     6.408866
          ...
983     5.504509
984     4.296177
985     3.364516
1635    3.460516
1636    5.917385
Length: 721, dtype: float64

In [13]:
# Now we calculate the MSE to check how deviated we are (comparing 2019 model predictions vs real # nests)

from sklearn import metrics
print('MSE:', metrics.mean_squared_error(QUEEN_test_y_2019, prediction_y_2019))
print('MAE:', metrics.mean_absolute_error(QUEEN_test_y_2019, prediction_y_2019))
print('RMSE:', np.sqrt(metrics.mean_squared_error(QUEEN_test_y_2019, prediction_y_2019)))

MSE: 10.279682658673398
MAE: 2.6483838047379304
RMSE: 3.206194419974153

In [14]:
mse_viz = pd.DataFrame(QUEEN_test_y_2019)
mse_viz['prediction']= prediction_y_2019
mse_viz['diff'] = mse_viz.prediction - mse_viz.waspbust_id
mse_viz['diff'].sum()

1327.1912243909853

In [15]:
# Now we want to predict 2020

QUEEN_prediction_x_2020 = QUEEN.loc[QUEEN.year_x == 2019,['weath_humidity','weath_meanTemp']]

In [16]:
prediction_y_2020 = model.predict(QUEEN_prediction_x_2020)
prediction_y_2020

910     2.080448
911     3.116068
912     4.350258
913     5.465548
914     6.408866
          ...
983     5.504509
984     4.296177
985     3.364516
1635    3.460516
1636    5.917385
Length: 721, dtype: float64

In [17]:
QUEEN['nests_2020'] = prediction_y_2020

In [18]:
HEX = QUEEN.loc[:,['municip_code','municip_name','nests_2020']].groupby(by=['municip_code','municip_name'], as_index=False).sum().round().dropna()
HEX.columns = ['CODIGO MUNICIPIO','NOMBRE MUNICIPIO','NIDOS 2020']
HEX.head()

     CODIGO MUNICIPIO                   NOMBRE MUNICIPIO  NIDOS 2020
0               48001                            Abadiño        44.0
112             48002  Abanto y Ciérvana-Abanto Zierbena        53.0
226             48003                  Amorebieta-Etxano        54.0
338             48004                            Amoroto        16.0
450             48005                           Arakaldo        14.0

In [19]:
cwd = os.getcwd()
cwd

'/home/oscar/Escritorio/kopuru/KopuruVespaCompetitionIE-main/Competition_subs/2021-05-05_submit/batch_LARVAE'

In [20]:
# Save the new dataFrame as a .csv in the current working directory
cwd = os.getcwd()
path = cwd + "/WaspBusters_20210504_LARVAE.csv"
HEX.to_csv(path, index=False)